Repository greenbone/openvas-scanner, pull requests merged in 2021-06, with the labels that each got.

#750 Update COPYING file
  CHANGELOG.md
  COPYING
Labels: backport-to-21.04, backport-to-master

#744 Add support for non-interactive shell to nasl_ssh_shell_open().
  CHANGELOG.md
  nasl/nasl_ssh.c
Labels: backport-to-21.04

#769 Set file permissions when syncing community feed
  CHANGELOG.md
  tools/greenbone-nvt-sync.in
Labels: backport-to-20.08, backport-to-21.04

#780 Prepare 20.8.2 release.
  .github/workflows/ci-c.yml
  .github/workflows/release-pontos-patch.yml
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  INSTALL.md
  misc/CMakeLists.txt
  nasl/CMakeLists.txt
  src/CMakeLists.txt
Labels: make patch release

#781 [21.4.1] [release] Prepare Release and Release
  .github/workflows/ci-c.yml
  .github/workflows/release-pontos-patch.yml
  .gitignore
  CHANGELOG.md
  CMakeLists.txt
  INSTALL.md
  misc/CMakeLists.txt
  nasl/CMakeLists.txt
  src/CMakeLists.txt
Labels: make patch release

#782 [21.4.1] [release] Fix Typo
  .github/workflows/release-pontos-patch.yml
Labels: make patch release
